/* font-family: 'Cobe-Bold', Helvetica, Arial, Sans-Serif;
font-family: 'Cobe-BoldItalic', Helvetica, Arial, Sans-Serif;

font-family: 'Cobe-Light', Helvetica, Arial, Sans-Serif;
font-family: 'Cobe-LightItalic', Helvetica, Arial, Sans-Serif;

font-family: 'Cobe-Regular', Helvetica, Arial, Sans-Serif;
font-family: 'Cobe-Italic', Helvetica, Arial, Sans-Serif; */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

/*p {
  font-family: $font-primary;
  font-size: 1.8rem;
}*/
body {
  font-family: "Cobe-Light", Helvetica, Arial, Sans-Serif;
  font-size: 2rem;
  letter-spacing: .5px;
  position: relative;
  line-height: 1.3;
  background-color: #4a0391; }

.button, .button:link, .button:visited {
  margin-top: 4rem;
  font-family: "Cobe-Light", Helvetica, Arial, Sans-Serif;
  text-transform: lowercase;
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: #fff;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 50px;
  transition: all .2s;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.1);
  border: none; }

.button:active {
  transform: translateY(-1px);
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
  color: inherit;
  border: none; }

button:active {
  border: none; }

.btn-text:link, .btn-text:visited {
  font-family: "Cobe-Light", Helvetica, Arial, Sans-Serif;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  transform: translateY(-2px); }

.btn-text:active {
  transform: translateY(0); }

.logo {
  font-family: "Cobe-Regular", Helvetica, Arial, Sans-Serif;
  color: #fff;
  background-color: #000;
  padding: .2rem 1rem;
  border-radius: 3rem;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: .2px; }
  @media only screen and (max-width: 34.375em) {
    .logo {
      display: none; } }

.navigation__link {
  font-family: 'Cobe-BoldItalic', Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px; }

h1 {
  font-family: 'Cobe-Bold', Helvetica, Arial, Sans-Serif;
  margin-bottom: 3rem;
  text-align: center; }

.greeting {
  font-size: 6.5rem;
  text-transform: uppercase;
  line-height: 7.5rem;
  letter-spacing: 3px;
  color: #fff; }
  .greeting__hi {
    color: #000; }
  @media only screen and (max-width: 50em) {
    .greeting {
      font-size: 4rem;
      line-height: 4.5rem; } }

.intro {
  font-size: 4.7rem;
  line-height: 5.2rem;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'Cobe-Light', Helvetica, Arial, Sans-Serif;
  width: 90%;
  margin: 0 auto; }
  @media only screen and (max-width: 50em) {
    .intro {
      font-size: 4rem;
      line-height: 4.7rem; } }
  @media only screen and (max-width: 34.375em) {
    .intro {
      font-size: 3rem;
      line-height: 3.5rem; } }

h2 {
  font-family: 'Cobe-Bold', Helvetica, Arial, Sans-Serif;
  font-size: 4rem; }

.h2-about {
  color: #7400b1; }

.h2-skills, .h2-contact {
  color: #fff; }

.h2-projects {
  color: #4a0391; }

.u-text-center {
  text-align: center;
  margin-bottom: 3rem; }

h3 {
  font-family: 'Cobe-Light', Helvetica, Arial, Sans-Serif;
  font-size: 3rem; }

/*.skills-title {
  color: $color-green-light;
  padding-bottom: 2.2rem;
}*/
.skills-p {
  color: #fff;
  font-family: 'Cobe-Light', Helvetica, Arial, Sans-Serif;
  text-align: center;
  padding: 4rem 0; }

h4 {
  font-family: 'Cobe-Regular', Helvetica, Arial, Sans-Serif;
  font-size: 2rem;
  margin-bottom: 2.2rem;
  color: #7400b1; }

.project-title {
  padding-bottom: 1rem; }

.nav-wrapper {
  position: fixed;
  z-index: 3000;
  background-color: rgba(74, 3, 145, 0.97);
  width: 100%; }

.navigation {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  /*&__logo__name {
    height: 2.5rem;
  }*/ }
  .navigation__menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 40%;
    list-style: none;
    z-index: 2000; }
    @media only screen and (max-width: 62.5em) {
      .navigation__menu {
        width: 50%; } }
    @media only screen and (max-width: 50em) {
      .navigation__menu {
        width: 70%; } }
    @media only screen and (max-width: 34.375em) {
      .navigation__menu {
        width: 100%; } }
  .navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem; }

.header {
  background-image: linear-gradient(to right bottom, #0099f8, #7400b1);
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  align-items: center; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 50% 89vh, 0 80vh);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 50% 89vh, 0 80vh);
      height: 90vh; } }
  .header__text {
    width: 60%;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    z-index: 1000; }
  .header__arrow {
    position: absolute;
    left: 50%;
    bottom: 1vh;
    transform: translate(-50%, -50%);
    animation: pulsate 1s ease-in-out;
    animation-iteration-count: infinite;
    z-index: 1000; }
    .header__arrow__element {
      height: 2.5rem; }

/**Arrow-Down Aanimation**/
@keyframes pulsate {
  0% {
    opacity: .2; }
  50% {
    opacity: .9; }
  100% {
    opacity: .2; } }

/**Background Aanimation**/
.animation-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.animation-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background-image: url("../img/polygon2.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: animate 20s linear infinite;
  bottom: -150px; }

.animation-area li:nth-child(1) {
  left: 86%;
  width: 8rem;
  height: 8rem;
  animation-delay: 0s; }

.animation-area li:nth-child(2) {
  left: 12%;
  width: 3rem;
  height: 3rem;
  animation-delay: 2s; }

.animation-area li:nth-child(3) {
  left: 70%;
  width: 10rem;
  height: 10rem;
  animation-delay: 5.5s; }

.animation-area li:nth-child(4) {
  left: 38%;
  width: 15rem;
  height: 15rem;
  animation-delay: 0s;
  animation-duration: 15s; }

.animation-area li:nth-child(5) {
  left: 65%;
  width: 4rem;
  height: 4rem;
  animation-delay: 0s; }

.animation-area li:nth-child(6) {
  left: 22%;
  width: 11rem;
  height: 11rem;
  animation-delay: 3.5s; }

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8; }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0; } }

.about {
  padding-top: 18rem;
  padding-bottom: 12rem;
  margin-top: -10vh;
  background-color: #e9e9e9;
  z-index: 500; }
  .about__img {
    width: 100%;
    border: 1px solid grey; }
    @media only screen and (max-width: 50em) {
      .about__img {
        margin-bottom: 3rem; } }
  .about__text {
    padding-bottom: 1.5rem; }

.about-wrapper {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 50em) {
    .about-wrapper {
      flex-direction: column;
      align-items: center; } }

.half-width {
  width: 48%;
  text-align: left;
  color: #000; }
  @media only screen and (max-width: 50em) {
    .half-width {
      width: 70%;
      text-align: center; } }

.contact {
  background-image: linear-gradient(to right bottom, #0099f8, #7400b1);
  padding-top: 18rem;
  padding-bottom: 12rem;
  margin-top: -10vh;
  position: relative; }
  .contact__wrapper {
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
    position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .contact {
      -webkit-clip-path: polygon(0 1vh, 50% 10vh, 100% 1vh, 100% 100%, 0 100%);
      clip-path: polygon(0 1vh, 50% 10vh, 100% 1vh, 100% 100%, 0 100%); } }

.icon-contact {
  fill: #fff;
  width: 4rem;
  height: 4rem; }

.form {
  display: flex;
  flex-direction: column; }
  .form__input {
    border: 1px solid #4a0391;
    margin-top: 2rem;
    color: #000;
    font-size: 2rem;
    font-family: inherit;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    border-radius: 1px;
    background-color: #7EFFEA;
    display: block; }
    .form__input__3 {
      resize: none; }
    .form__input:focus {
      outline: none;
      box-shadow: 3px 1rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #4a0391; }

.hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

#submit {
  align-self: center; }

.footer {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background-color: #4a0391; }
  .footer__text {
    font-size: 1.2rem;
    color: #7EFFEA;
    text-align: center;
    margin: 2rem auto; }

.section-projects {
  padding: 10rem 0;
  background-color: #e9e9e9;
  margin-top: -10vh; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .section-projects {
      -webkit-clip-path: polygon(0 10vh, 50% 1vh, 100% 10vh, 100% 100%, 0 100%);
      clip-path: polygon(0 10vh, 50% 1vh, 100% 10vh, 100% 100%, 0 100%); } }

.card {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 6rem 0;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 50em) {
    .card {
      flex-direction: column;
      align-items: center; } }
  .card:not(:last-child) {
    border-bottom: 3px solid #4a0391; }
  .card__img-tools {
    width: 40%;
    min-width: 26rem;
    padding-right: 2rem;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .card__img-tools {
        width: 70%;
        padding-right: 0; } }
  .card__description {
    width: 50%;
    min-width: 33rem; }
    @media only screen and (max-width: 50em) {
      .card__description {
        width: 70%;
        text-align: center;
        padding-top: 3rem; } }

.project-img1 {
  width: 100%; }

.skills {
  padding-top: 18rem;
  padding-bottom: 18rem;
  background-color: #4a0391;
  margin-top: -10vh; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .skills {
      -webkit-clip-path: polygon(0 0vh, 50% 9vh, 100% 0vh, 100% 100%, 0 100%);
      clip-path: polygon(0 0vh, 50% 9vh, 100% 0vh, 100% 100%, 0 100%); } }

.skills-wrapper {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto; }
  @media only screen and (max-width: 50em) {
    .skills-wrapper {
      flex-direction: column;
      align-items: center;
      width: 70%; } }

.icon-wrapper {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.icon-box {
  width: 8rem;
  height: 8rem;
  margin: 2.5rem;
  fill: #7EFFEA; }
  .icon-box:hover {
    transform: scale(0.8, 0.8);
    transform: translateY(-5px); }

.footer {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background-color: #4a0391; }
  .footer__text {
    font-size: 1.2rem;
    color: #7EFFEA;
    text-align: center;
    margin: 2rem auto; }
