// COLOR VARIABLES

$color-gr-1: #0099f8;
$color-gr-2: #7400b1;
$color-green-light:#7EFFEA;
$color-green-dark: #4a0391;
$white: #fff;
$black: #000;
$color-light-grey: #e9e9e9;


//MEDIA BREAKPOINTS

$bp-large: 62.5em; //1000px
$bp-medium: 50em; // 800px
$bp-small: 34.375em; //550px

// FONT VARIABLES


//$font-primary: 'Lato', sans-serif;
$font-primary: 'Cobe-Light', Helvetica, Arial, Sans-Serif;

$font-logo: 'Cobe-Regular', Helvetica, Arial, Sans-Serif;
$font-button:'Cobe-Light', Helvetica, Arial, Sans-Serif;

/* font-family: 'Cobe-Bold', Helvetica, Arial, Sans-Serif;
font-family: 'Cobe-BoldItalic', Helvetica, Arial, Sans-Serif;

font-family: 'Cobe-Light', Helvetica, Arial, Sans-Serif;
font-family: 'Cobe-LightItalic', Helvetica, Arial, Sans-Serif;

font-family: 'Cobe-Regular', Helvetica, Arial, Sans-Serif;
font-family: 'Cobe-Italic', Helvetica, Arial, Sans-Serif; */


// BASE STYLES

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px --> 1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}


/*p {
  font-family: $font-primary;
  font-size: 1.8rem;
}*/


body {
  font-family: $font-primary;
  font-size: 2rem; 
  letter-spacing: .5px;
  position: relative;
  line-height: 1.3;
  background-color: $color-green-dark;
}


.button {
  &,
  &:link,
  &:visited {
    margin-top: 4rem;
    font-family: $font-button;
    text-transform: lowercase;
    font-size: 2.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: $white;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 50px;
    transition: all .2s;
    box-shadow: 3px 5px rgba(#000, .1);
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 3px 6px rgba(#000, .1);
    border:none;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 2px 3px rgba(#000, .1);
    color: inherit;
    border: none;
  }
}

button:active {
  border: none;
}

.btn-text {
  &:link,
  &:visited {
    font-family: $font-button;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    transition: all .2s;
  }

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}