.footer {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background-color: $color-dark;

  &__text {
    font-size: 1.2rem;
    color: $color-green-light;
    text-align: center;
    margin: 2rem auto;
  }

}

.credit {
  //text-decoration: none;
  color: inherit;
}