.section-projects {
  padding: 10rem 0;
  background-color: $color-light-grey;
  margin-top: -10vh;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 10vh, 50% 1vh, 100% 10vh, 100% 100%, 0 100%);
    clip-path: polygon(0 10vh, 50% 1vh, 100% 10vh, 100% 100%, 0 100%);
  }
}

.card {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 6rem 0;
  display: flex;
  justify-content: space-around;
    
  @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      align-items: center;
  }

  &:not(:last-child) {
    border-bottom: 3px solid $color-gr-2;
  }

  &__img-tools {
    width: 40%;
    min-width: 26rem;
    padding-right: 2rem;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
      padding-right: 0;
    }
  }

  &__description {
    width: 50%;
    min-width: 33rem;

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
      text-align: center;
      padding-top: 3rem;
    }
  }
}

.project-img1 {
  width: 100%;
  //padding-left: 10px;
}

.project-links {
  margin-top: 1.6rem;
  color: $color-accent;
  &:hover {
    //box-shadow: 2px 3px rgba(#000, .1);
    transform: translateY(-3px);
  }
}

.project-links a {
  font-family: $font-titles;
  font-size: 1.8rem;
  color: $color-accent;

  &:hover {
    //box-shadow: 2px 3px rgba(#000, .1);
    transform: translateY(-3px);
  }
}