.skills {
  padding-top: 18rem;
  padding-bottom: 18rem;
  background-color: $color-dark;
  margin-top: -10vh;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0vh, 50% 9vh, 100% 0vh, 100% 100%, 0 100%);
    clip-path: polygon(0 0vh, 50% 9vh, 100% 0vh, 100% 100%, 0 100%);
  }
}

.skills-icon-wrapper {
  border-top: 2px solid $color-accent;
  width: 60%;
  max-width: 100rem;
  margin: 0 auto;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
}

/*.icon-wrapper {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icon-box {
  width: 3rem;
  height: 3rem;
  margin: 2.5rem;
  fill: $color-accent;

  &:hover {
    transform: scale(0.8, 0.8);
    transform: translateY(-5px);
  }
} */

.skills-wrapper {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-between;
  
//align-items: flex-start;
  //padding-top: 4rem;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
} 

/*.html-icon {
  width: 10*/

.third-width {
  width: 30%;
  text-align: center;
  
  @media only screen and (max-width: $bp-medium) {
    width: 70%;
  }
}
.skills-icon {
  padding: 3rem;
  width: 50%;

  @media only screen and (max-width: $bp-medium) {
    padding-top: 5rem;
  }
} 

