
.navigation__link {
  font-family: $font-titles;
  //font-weight: 300;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 2px;;
}

h1 {
  font-family: $font-titles;
  margin-bottom: 3rem;
  text-align: center;
}

.greeting {
  font-size: 6.5rem;
  text-transform: uppercase;
  line-height: 7.5rem;
  letter-spacing: 3px;
  color: $white;

  &__name {
    color: $color-accent;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 5rem;
    line-height: 5.2rem;
  }
}

.intro {
  font-size: 4rem;
  line-height: 5.2rem;
  letter-spacing: 1px;
  color: $white;
  font-family: $font-titles;
  font-weight: 300;
  //font-style: italic;
  width: 90%;
  margin: 0 auto;

  @media only screen and (max-width: $bp-medium) {
    font-size: 3.7rem;
    line-height: 4.3rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

h2 {
  font-family: $font-titles;
  color: $color-accent;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3rem;
}

.u-text-center {
  text-align: center;
  margin-bottom: 3rem;
}

h3 {
  font-family: $font-titles;
  font-size: 3rem;   
}

.skills-title {
  color: $color-accent;
  //padding-bottom: 2.2rem;
}

.skills-p {
  color: $white;
  font-family: $font-primary;
  font-weight: 300;
  text-align: center;
  padding: 4rem 0;
}

.thanks-p {
  color: $white;
  font-family: $font-primary;
  font-weight: 300;
  text-align: center;
  padding: 0;
}

h4 {
  font-family: $font-titles;
  font-size: 2rem;
  margin-bottom: 2.2rem;
  color: $color-accent-dark;
}

.project-title {
  padding-bottom: 1rem;
}