/*
Font: 		Cobe
Style: 		Light
URL: 		https://www.youworkforthem.com/font/T12238/cobe
Foundry: 	STAWIX
Foundry: 	https://www.youworkforthem.com/designer/355/stawix
Copyright:	Copyright © 2020 by Stawix Chomvachara. All rights reserved.
Version: 	17
Created:	April 29, 2020
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Cobe-Light';
	src: url('cobe-light.eot');
	src: url('cobe-light.eot?#iefix') format('embedded-opentype'),
             url('cobe-light.woff2') format('woff2'),
	     url('cobe-light.woff') format('woff'),
	     url('cobe-light.ttf') format('truetype'),
	     url('cobe-light.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
